<!-- Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
    <p style="color: white; font-size: 20px;">Carregando...</p>
</ngx-spinner>

<div class="form-content-container">
    <!-- Erros -->
    <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3>Atenção</h3>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>

    <!-- Contêiner do Card -->
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h3>{{ isEditMode ? 'Editar Agendamento' : 'Agendamento de Consulta' }}</h3>
            </div>

            <!-- Abas de navegação -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'appointment-data'}"
                        (click)="setTab('appointment-data')" role="tab">Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'notes'}" (click)="setTab('notes')"
                        role="tab">
                        Observações
                    </a>
                </li>
            </ul>

            <!-- Formulário -->
            <form [formGroup]="form" (ngSubmit)="saveAppointment()">
                <div class="tab-content">
                    <!-- Aba Dados da Consulta -->
                    <div class="tab-pane" [ngClass]="{'active show': currentTab === 'appointment-data'}"
                        id="personal-data" role="tabpanel">

                        <div class="card-body">
                            <div class="form-row">
                                <!-- Médico -->
                                <div class="form-group col-md-8">
                                    <label for="doctorId">Médico</label>
                                    <select id="doctorId" class="form-control" formControlName="doctorId"
                                        [ngClass]="{'is-invalid': displayMessage['doctorId']}">
                                        <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}
                                        </option>
                                    </select>
                                    <span class="text-danger" *ngIf="displayMessage['doctorId']">
                                        <p [innerHTML]="displayMessage['doctorId']"></p>
                                    </span>
                                </div>

                                <!-- Status -->
                                <div class="form-group col-md-4">
                                    <label for="status">Status</label>
                                    <select id="status" class="form-control" formControlName="status"
                                        [ngClass]="{'is-invalid': displayMessage['status']}">
                                        <option *ngFor="let status of statusOptions" [ngValue]="status.value">{{
                                            status.label }}</option>
                                    </select>
                                    <span class="text-danger" *ngIf="displayMessage['status']">
                                        <p [innerHTML]="displayMessage['status']"></p>
                                    </span>
                                </div>
                            </div>

                            <!-- Paciente e CPF -->
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="patientId">Paciente</label>
                                    <select id="patientId" class="form-control" formControlName="patientId"
                                        [ngClass]="{'is-invalid': displayMessage['patientId']}">
                                        <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.name }}
                                        </option>
                                    </select>
                                    <span class="text-danger" *ngIf="displayMessage['patientId']">
                                        <p [innerHTML]="displayMessage['patientId']"></p>
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="cpf">CPF</label>
                                    <input type="text" id="cpf" class="form-control" formControlName="cpf" mask="000.000.000-00"/>
                                </div>
                            </div>

                            <!-- Telefone e Celular -->
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="phone">Telefone</label>
                                    <input type="text" id="phone" class="form-control" formControlName="phone" mask="(00) 0000-0000"/>
                                    <span><p></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="cellPhone">Celular</label>
                                    <input type="text" id="cellPhone" class="form-control" formControlName="cellPhone" mask="(00) 00000-0000"  />
                                    <span><p></span>
                                </div>
                            </div>

                            <!-- Plano de Saúde, Valor, Data e Hora da Consulta -->
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="healthPlanId">Plano de Saúde</label>
                                    <select id="healthPlanId" class="form-control" formControlName="healthPlanId"
                                        [ngClass]="{'is-invalid': displayMessage['healthPlanId']}">
                                        <option *ngFor="let healthPlan of healthPlans" [value]="healthPlan.id">{{
                                            healthPlan.description }}</option>
                                    </select>
                                    <span class="text-danger" *ngIf="displayMessage['healthPlanId']">
                                        <p [innerHTML]="displayMessage['healthPlanId']"></p>
                                    </span>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="cost">Valor Consulta</label>
                                    <input type="text" id="cost" class="form-control small-input" formControlName="cost"
                                        currencyMask
                                        [options]="{ allowNegative: false, allowZero: false, prefix: 'R$ ', thousands: '.', decimal: ',', decimalLimit: 2 }"
                                        [ngClass]="{'is-invalid': displayMessage['cost']}" />

                                    <!-- Mensagem de Erro -->
                                    <span class="text-danger" *ngIf="displayMessage['cost']">
                                        <p [innerHTML]="displayMessage['cost']"></p>
                                    </span>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="appointmentDate">Data</label>
                                    <input type="date" id="appointmentDate" class="form-control"
                                        formControlName="appointmentDate"
                                        [ngClass]="{'is-invalid': displayMessage['appointmentDate']}" />
                                    <span class="text-danger" *ngIf="displayMessage['appointmentDate']">
                                        <p [innerHTML]="displayMessage['appointmentDate']"></p>
                                    </span>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="appointmentTime">Hora</label>
                                    <input type="time" id="appointmentTime" class="form-control"
                                        formControlName="appointmentTime"
                                        [ngClass]="{'is-invalid': displayMessage['appointmentTime']}" />
                                    <span class="text-danger" *ngIf="displayMessage['appointmentTime']">
                                        <p [innerHTML]="displayMessage['appointmentTime']"></p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Aba Observações -->
                    <div class="tab-pane" [ngClass]="{'active show': currentTab === 'notes'}" id="notes"
                        role="tabpanel">
                        <div class="card-body">
                            <div class="notes-tab">
                                <div class="form-group">
                                    <label for="notes">Observações</label>
                                    <textarea id="notes" class="form-control" formControlName="notes"
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <!-- Botões de Ação -->
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Salvar</button>
                    <button type="button" class="btn btn-secondary" (click)="cancel('appointment/list')">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>