.container-content {
    background-color: #ffffff;
    margin: 5px 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: calc(100vh - 140px);
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box; 
    margin: 0; 
}

.title {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50px;
    background-color: #0056b3;
}

.title h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    line-height: 50px; 
}

.col-left {
    margin: 10px 0 0 15px;
    flex: 0 0 250px;
    width: auto;
    align-items: flex-start;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-height: 80%;
    box-sizing: border-box;
}

.col-right {
    flex: 1;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: auto; 
}

.text-center h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.align-left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.btn-new {
    margin: 0;
    max-width: 120px;
}

.alert {
    margin: 0 15px;
    font-size: 1rem;
    border-color: lightskyblue;
    background-color: lightskyblue;
    color: white;
}

h4 {
    font-size: 16px;
    margin: 5px;
}

.text-start {
    text-align: left !important;
}

.custom-select {
    margin-top: 0;
    width: 100%;
}

/* Estilos do Calendário */
.custom-datepicker {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

::ng-deep .bs-datepicker-inline-container,
::ng-deep .bs-datepicker,
::ng-deep .bs-datepicker>div {
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

::ng-deep .bs-datepicker .bs-datepicker-head {
    background-color: #0056b3 !important;
}

::ng-deep .bs-datepicker .bs-datepicker-head .current {
    color: #fff !important;
}

::ng-deep .bs-datepicker .bs-datepicker-body .bs-datepicker-table td,
::ng-deep .bs-datepicker .bs-datepicker-body .bs-datepicker-table th {
    border: none !important;
}

/* Fundo do dia selecionado no calendário */
::ng-deep .theme-blue .bs-datepicker-body table td span.selected,
::ng-deep .theme-blue .bs-datepicker-body table td.selected span {
    background-color: lightskyblue !important;
    color: #fff !important;
}

/* Estilos da Tabela */
.table-container {
    margin: 0 15px;
    overflow-x: auto; 
}

.table {
    margin-top: 5px;
    width: 100%;
    min-width: 600px; 
    border-collapse: collapse;
}

.table thead {
    background-color: #0056b3;
    color: white;
}

.table td {
    vertical-align: middle;
    height: auto;
}

/* Grupo de botões */
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Estilos dos Status */
.status-scheduled {
    background-color: lightyellow;
}

.status-confirmed {
    background-color: lightgreen;
    color: #fff;
}

.status-canceled {
    background-color: #f44336;
    color: #fff;
}

.status-completed {
    background-color: #2196f3;
    color: #fff;
}

.action-column .btn {
    padding: 0.25rem 0.5rem;
}

.action-column i {
    font-size: 1.2rem;
}

/* Estilização do popover */
.popover-status-options {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.status-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.status-options button {
    width: 100%;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}

.status-options button:last-child {
    margin-bottom: 0;
}

.status-options button:hover {
    opacity: 0.8;
}

/* Media Queries para Responsividade */
@media (max-width: 1098px) {
    .container-content {
        margin: 10px;
    }

    .col-left,
    .col-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-left {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .table-container {
        margin: 10px 0;
        overflow-x: auto;
    }

    .custom-datepicker {
        width: 280px;
        margin: 0;
    }

    .group-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
    }

    .table {
        min-width: 600px;
    }
}

@media (max-width: 768px) {
    .container-content {
        padding: 10px;
    }

    .col-left{    
        padding: 10px;
    }  
    
    .table{
        margin: 0 15px 10px 15px;
    }

    .table td,
    .table th {
        padding: 8px;
        font-size: 14px;
    }
}
