/*Estilos para páginas de listagem de dados*/
.content-list-container {
    margin: 10px 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: calc(100vh - 140px);
}

.options-filter-list-container h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.options-filter-list-container {
    margin-bottom: 5px;
}


.alert {
    width: 50%;
    margin: 5px auto;
}

.actions-container {
    margin: 15px 0;
    display: flex;
    gap: 10px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 54vh;
    overflow: hidden;
    flex-grow: 1;
}

.table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin-top: 5px;
    border: 1px solid #ddd;
}

.table thead {
    background-color: #0056b3;
    color: white;
}

.table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    vertical-align: middle;
}

.align-left {
    text-align: left;
}

.align-rigth {
    text-align: right;
}


.width-75-percent{
  width: 75%;
}

.action-column {
    text-align: center;
    width: 10%;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn-new {
    align-self: start;
}

.btn-action {
    display: inline-flex;
    align-items: center;
}

.modal-btn {
    margin-right: 15px;
    width: 100px;
}