<ng-container *ngIf="!isLoginRoute()">
  <app-header></app-header>
  <div class="app-container">
    <app-sidebar></app-sidebar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</ng-container>

<ng-container *ngIf="isLoginRoute()">
  <router-outlet></router-outlet> 
</ng-container>

<!-- <app-header></app-header>
<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer> -->
