* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

.alert {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  word-break: break-word;
  padding: 15px;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 15px;
}

.alert h3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert ul {
  padding-left: 10px;
  margin: 0;
}

.alert li {
  margin-bottom: 2px; 
}

.no-results-message {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f8d7da; 
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  border-radius: 4px;
}

.custom-toast {
  background-color: #0056b3 !important; 
  color: #fff !important; 
  border-color: #0056b3 !important; 
  box-shadow: 0 0 10px rgba(0, 86, 179, 0.5) !important; 
}

.custom-toast .toast-title {
  color: #ffffff !important; 
}

.custom-toast .toast-message {
  color: #ffffff !important; 
}

.custom-toast .toast-progress {
  background-color: #ffffff !important;
}
